<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera" href="/tabs/(camera:camera)">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="track" href="/tabs/track">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Track</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" href="/tabs/contacts">
      <ion-icon name="people"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alert" href="/tabs/alert">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label>Emergency</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
