ion-card-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

ion-button {
  margin-top: 12px;
}
#map {
  height: 300px;
  width: 100%;
  margin-top: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}